a
{
	text-decoration: none;
}

.container
{
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
}

#mus_outline
{
	border: 2px solid Thistle;
}

#eng_outline
{
	border: 2px solid Thistle;
}

#top_info
{
	margin-left: 5px;
	margin-right: 5px;
}

h1
{
	font-size: 35px;
	font-weight: bold;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 0px;
	margin-bottom: 10px;
}

#profile_pic
{
	
	width: 210px;
	height: 200px;
	float: right;
	padding-bottom: 5px;
}

#blurb
{
	float: left;
	width: 560px;
	padding: 0px;
	font-size: 18px;
}







.wrap{
    text-align:center;
    padding-top: 10px;
}
.left{
    float: left;
    background:Thistle;
    width: 250px;
    border: 1px solid black;
}
.right{
    float: right;
    background:Thistle;
    width: 250px;
    border: 1px solid black;
}
.center{
    background:Thistle;
    margin:0 auto !important; 
   	display:inline-block;
   	width: 250px;
   	border: 1px solid black;
}








#items
{
	width: 100%;
	text-align:center
}



.item_tag
{
	float: left;
}

.item_pic
{
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid black;
}

h3
{
	font-size: 15px;
	font-weight: bold;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
}

.item_desc
{
	float: right;
	width: 448px;
	padding: 20px;
}

.eng_item
{
	margin-top: 12px;
	margin-bottom: 12px;
	border: 2px solid Thistle;
	height: 200px;
}

.eng_item h3
{
	background-color: Thistle;
}

.eng_item .item_pic
{
	border-right: 2px solid Thistle;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
}



.mus_item
{
	margin-top: 12px;
	margin-bottom: 12px;
	border: 2px solid Thistle;
}

.mus_item h3
{
	background-color: Thistle;
}

.mus_item .item_pic
{
	border-right: 2px solid Thistle;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
}


.clear
{
	clear: both;
}



.project_title
{
	font-size: 32px;
	font-weight: bold;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#mus_title
{
	background-color: Thistle;
}

#eng_title
{
	background-color: Thistle;
}

.icon_pic
{
	border: 0px solid black;
	float: right;
	vertical-align: middle;
	height: 58px;
}

.project_details
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.project_subtitle
{
	font-size: 16px;
	font-family: Verdana;
	color: black;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;	
}

#mus_subtitle
{
	border-bottom: 2px solid Thistle;
}

#eng_subtitle
{
	border-bottom: 2px solid Thistle;
}

.project_text
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.pub_item
{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 13px;
}

#performers
{
	padding-left: 40px;
}

.image_div
{
	text-align: center;
	margin: 20px;
}
.h_image
{
	width: 400px;
}

.v_image
{
	height:400px;
}

#mus_PDFs
{
	padding-left: 320px;
}

#mus_PDFs .PDFlink
{
	padding: 5px;
}

.PDFlink img
{
	border: none;	
}

.MP3link img
{
	border: none;	
}

#mus_license
{
	margin-top: 20px;
	border-top: 2px solid Thistle;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}

#footer
{
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	color:black;
}

